body {
    background-color: #FFEFd8;
    color: #FFEFd8;
}
h1 {
    color: #8eb69b;
    text-align: right;
    margin-top: 100px;
    font-family: 'Texturina', serif;
}
h2 {
    color: #8eb69b;
    text-align: center;
    margin-top: 0px;
    font-family: 'Texturina', serif;
}
p {
    color: #ce788a;
    text-align: left;
    font-family: 'Lora', serif;
    padding: 10px;
    margin: 70;
}
h5 {
    color: #ce788a;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 0.4em;
}
.center {
    display: block;
    margin-top: 100;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
#hp  {
    float: left;    
     margin: 150 15 0 15;
    }  
header {
    position: fixed;
    background-color: #FFEFd8;
}
.fixed-header{
    width: "100%";
    position: fixed;        
}
.sidebar {
    margin: 20 20 20 20;
    padding: 20;
    width: 300px;
    position: fixed;
  }
/* grid layout */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.grid-container {
    display: grid;
    grid-template-columns: 150px 20px 350px;
    grid-template-rows: auto;
}
.grid-element {
    color: #fff;
    font-size: 2em;
    padding: 10%;
}
.element-a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.element-b {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box{
    width:auto;
    float:right;
    margin-right:20px;
}

img {
    margin-top:5px;
    margin-bottom:5px;
}

footer {
    text-align: left;
    padding: 35px;
    background-color: #FFEFd8;